/*SOLIDBUTTOM REUSABLE OBJECT*/
.solidbuttom_wrapper {
  display: contents;
}
.solidbuttom_container {
  display: flex;
  position: relative;
}
.solidbuttom_button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-gray-black);
}

/*OUTLINEBUTTOM REUSABLE OBJECT*/
.outlinebuttom_wrapper {
  display: contents;
}
.outlinebuttom_container {
  display: flex;
  position: relative;
}
.outlinebuttom_button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-layout-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-gray-white);
}

/*CARD REUSABLE OBJECT*/
.page_cards_container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-layout-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.card_wrapper {
  display: contents;
}
.card_container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card_subcontainer {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
}
.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-left-radius: var(--dl-layout-radius-radius8);
  border-top-right-radius: var(--dl-layout-radius-radius8);
  border-bottom-left-radius: var(--dl-layout-radius-radius8);
  border-bottom-right-radius: var(--dl-layout-radius-radius8);
}


/*Esto es ordenado y por lo meno lo entiendo*/


/*<!--CONTENEDORES GENERALES-->*/
.page_container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page_top_container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("images/010.jpg");
  background-position: 0% 40%;
}
.page_main_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-quadruple);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-quadruple);
  justify-content: flex-start;
}
.page_footer_container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page_footer_subcontainer {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}


/*<!--ELEMENTOS COMUNES-->*/
.page_text {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
.page_text_2 {
  margin-bottom: 8px;
}
.page_text_3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-layout-space-halfunit);
}
.page_text_4 {
  color: var(--dl-color-gray-500);
}
.page_icon_white {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.page_icon {
  width: 24px;
  height: 24px;
}
.page_icons_container_left {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page_icons_container_center {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/*<!--NAVBAR-->*/
.page_navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page_nav_text {
  /*color: var(--dl-color-gray-white);*/
  margin-right: var(--dl-layout-space-doubleunit);
}
.page_navbar_right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page_mobile_navbar_container{
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page_movile_navbar {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page_movile_navbar_burger{
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page_movile_navbar_subburger {
  width: 24px;
  height: 24px;
}
.page_mobile_navbar_top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.page_mobile_navbar_close {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page_mobile_navbar_right {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

/*<!--LINKS-->*/
.page_links_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page_links_vertical_container {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.page_links_vertical_container_center{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.page_link {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
.page_social_links_container_center {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.page_social_links_container_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

/*<!--IMAGEN-->*/
.page_header {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
.page_header_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page_header_title_1 {
  font-size: 30px;
  text-align: center;
  color: var(--dl-color-gray-white);
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.4) 85%,
    transparent 85%
  );
  background-repeat: no-repeat;
  background-size: 120% 5em;
  background-position: 10% 82%;
}
.page_header_title_1_black {
  font-size: 2rem;
  text-align: center;
  color: #000000;
}
.page_header_title_2 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: var(--dl-color-gray-white);
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.4) 85%,
    transparent 85%
  );
  background-repeat: no-repeat;
  background-size: 100% 5em;
  background-position: 0 82%;
}
.page_header_title_2_black {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: #000000;
}
.page_header_text_1 {
  padding-top: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-doubleunit);
  color: var(--dl-color-gray-white);
}
.page_header_title_3 {
  font-size: 30px;
  text-align: center;
  color: var(--dl-color-gray-white);
}


/*ASIGNACIONES EN FUNCION DEL TAMAÑO*/

/*<!--TAMAÑO GRANDE-->*/
@media(max-width: 991px) {
  .page_hero {
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .page_cards_container {
    justify-content: center;
  }
  .card_image {
    height: 100%;
  }
}
/*<!--TAMAÑO TABLET-->*/
@media(max-width: 767px) {
  .page_navbar_right {
    display: none;
  }
  .page_movile_navbar_burger {
    display: flex;
  }
  .page_hero {
    justify-content: center;
  }
  .page_header_container {
    align-items: center;
  }
  .page_header_text_1 {
    text-align: center;
  }
  .page_main_container {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .page_footer_subcontainer  {
    flex-direction: column;
  }
  .page_links_container {
    margin-top: var(--dl-layout-space-tripleunit);
    margin-bottom: var(--dl-layout-space-tripleunit);
    justify-content: space-between;
  }
  .page_links_vertical_container {
    margin-left: 0px;
  }
  .card_container {
    width: 200px;
  }
}
/*<!--TAMAÑO MÓVIL-->*/
@media(max-width: 479px) {
  .page_links_container {
    margin-top: var(--dl-layout-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .page_social_links_container_center {
    margin-left: 0px;
  }
  .card_container {
    width: 300px;
  }
  .card_image {
    height: 100%;
  }
}