
{% extends 'base.html' %}
{% block content %}
        <!--MAIN-->
        <div id="main-section" class="page_main_container">
          <h1 class="page_header_title_1_black">Opciones de compra</h1>
          <h2 class="page_header_title_2_black"></h2>
          <!--CARDS-->
          <div class="page_cards_container">
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/001.jpg" target="_blank">
                  <img alt="image" src="style/images/001.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Originales</span></span>
                  <span class="page_text">
                    <span>
                      Ilustraciones originales y retratos de aves.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_c1" class="outlinebuttom_button">
                        <span>Explorar galeria</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/002.jpg" target="_blank">
                  <img alt="image" src="style/images/001.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Copias</span></span>
                  <span class="page_text">
                    <span>
                      Copias de un original impreso en papel de acuarela.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_c2" class="outlinebuttom_button">
                        <span>Explorar galeria</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/002.jpg" target="_blank">
                  <img alt="image" src="style/images/001.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Encargos</span></span>
                  <span class="page_text">
                    <span>
                      Ilustraciones retratos de animales, paisajes ... , en acuarela pastel o tinta
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_c3" class="outlinebuttom_button">
                        <span>Explorar galeria</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
          </div>
        </div>  
{% endblock %}

