
{% extends 'base.html' %}
{% block content %}
        <!--MAIN-->
        <div id="main-section" class="page_main_container">
          <h1 class="page_header_title_1_black">Galeria</h1>
          <h2 class="page_header_title_2_black"></h2>
          <!--CARDS-->
          <div class="page_cards_container">
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/001.jpg" target="_blank">
                  <img alt="image" src="style/images/001.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Brujitas</span></span>
                  <span class="page_text">
                    <span>
                      Brujitas en acuarela sobre papel de acuarela.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g1" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/002.jpg" target="_blank">
                  <img alt="image" src="style/images/002.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Rome</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g2" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/003.jpg" target="_blank">
                  <img alt="image" src="style/images/003.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Cluj-Napoca</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g3" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/004.jpg" target="_blank">
                  <img alt="image" src="style/images/004.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Paris</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g4" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/005.jpg" target="_blank">
                  <img alt="image" src="style/images/005.jpg" class="card_image" />
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Amsterdam</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g5" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/006.jpg" target="_blank">
                  <img alt="image" src="style/images/006.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g6" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/007.jpg" target="_blank">
                  <img alt="image" src="style/images/007.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g7" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/008.jpg" target="_blank">
                  <img alt="image" src="style/images/008.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g7" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/009.jpg" target="_blank">
                  <img alt="image" src="style/images/009.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g7" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/010.jpg" target="_blank">
                  <img alt="image" src="style/images/010.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g7" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/011.jpg" target="_blank">
                  <img alt="image" src="style/images/011.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g7" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
            <card-wrapper class="card_wrapper">
              <div class="card_container">
                <a href="style/images/012.jpg" target="_blank">
                  <img alt="image" src="style/images/012.jpg" class="card_image"/>
                </a>
                <div class="card_subcontainer">
                  <span class="page_text_3"><span>Barcelona</span></span>
                  <span class="page_text">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna.
                    </span>
                  </span>
                  <outlinebuttom-wrapper class="outlinebuttom_wrapper">
                    <!--Outlinebuttom component-->
                    <div class="outlinebuttom_container">
                      <button id="choose_redirect_btn_g7" class="outlinebuttom_button">
                        <span>Vista ampliada</span>
                      </button>
                    </div>
                  </outlinebuttom-wrapper>
                </div>
              </div>
            </card-wrapper>
          </div>
        </div>  
{% endblock %}