
{% extends 'base.html' %}
{% block content %}
        <!--MAIN-->
        <div id="main-section" class="page_main_container">
          <h1 class="page_header_title_1_black">information</h1>
            <div class="card_subcontainer">
            <span class="page_header_title_2_black">
              <span class="page_text_3"><span>Information  </span></span>
              <span>
                Information
              </span>
            </span>
          </div>
          <h2 class="page_header_title_2_black">We sell replicas and originals..., contact via...</h2>
        </div>  
{% endblock %}